*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries
.idea/misc.xml
.idea/modules
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
.gradle/6.7.1
.gradle/buildOutputCleanup
.gradle/checksums
.gradle/configuration-cache
.gradle/vcs-1
